FILESYSTEM_NAME=./test/bucket/

BUCKET_NAME=
BUCKET_ID=
BUCKET_KEY=

BACKBLAZE_NAME=
BACKBLAZE_ID=
BACKBLAZE_KEY=

# Must include the bucket name at the end
CLOUDFLARE_URL=
CLOUDFLARE_ID=
CLOUDFLARE_KEY=
